.section-1{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	padding: 2rem 1.3rem;
}

.s1-description, .s2-description{
	color: var(--primary-color);
	line-height: 1.7rem;
}

.s1-description, .s2-description{
	transition: all 0.5s ease;
	transform: translateY(-0.9rem);
	opacity: 0;
}

.section-2, .division-1{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem 1.3rem;
}

.section-2{
	gap: 2rem;
}

.division-1{
	transform: translateY(1rem);
	transition: all 0.5s ease;
}

.staff-img, section-2{
	width: 15rem;
	border-radius: 1rem;
	margin: 0 auto ;
	transform: translateY(-1rem);
}

.staff-img{
	transition: all 0.7s ease;
	opacity: 0;
}

.section-3{
	background: inherit;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.section-3 h2{
	color: var(--primary-color);
	padding-bottom: 1.3rem;
	border-bottom: 0.1rem solid;
}

.team img{
	width: 15rem;
	border-radius: 0.5rem;
}

.bio{
	color: black;
	line-height: 1.6;
	transition: all ease 0.5s;
	opacity: 0;
	transform: translateY(1.5rem);
}

.team, .staff{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center; 
}

.team{
	background: var(--secondary-color);
}

.name{
	color: var(--primary-color);
	font-weight: bold;
	align-self: flex-end;
}

.staff{
gap: 1rem;
}